<div class="col-xs-10">
  <div class="panel panel-default">
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>
              {{ receipt.companyName }}
          </td>
          <td>
              {{ receipt.type }}
          </td>
          <td>
              {{ receipt.date }}
          </td>
          <td>
              {{ receipt.number }}
          </td>
          <td>
              {{ receipt.taxPercentage }}
          </td>
          <td>
              {{ receipt.totalPrice }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-xs-2">
  <div
  class="btn-group">
      <button class="btn btn-xs btn-info" (click)="onEdit()">Edit</button>
      <button class="btn btn-xs btn-warning" (click)="onDelete(receipt.href)">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
</div>
