label {
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
}

input {
  width: 100%;
  padding: 10px 10px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}


button {
  float: left;
}

h1 {
  text-align: center;
  font-size: 5mm;

}
